<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liutao.dao.LoginMapper">

	<resultMap type="com.liutao.bean.UserBean" id="userMap">
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userPwd" column="user_pwd" />
		<result property="userMail" column="user_mail" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>


	<select id="findUserByUserMail" parameterType="String"
		resultMap="userMap">
		SELECT
		USER_ID
		,USER_NAME
		,USER_PWD
		,USER_MAIL
		,CREATE_TIME
		,UPDATE_TIME
		FROM
		USER
		WHERE
		USER_MAIL = #{userMail}
		AND
		USER_PWD = #{userPwd}
	</select>

	<insert id="insertDayBox" parameterType="java.util.List" >
		INSERT INTO DAY
			(YEAR,WEEK,MONTH,DAY_NO,FESTIVAL,USER_ID)
		VALUES
			<foreach collection ="list" item="dayBoxDataItem" index= "index" separator =",">
				(
				#{dayBoxDataItem.year}
				,#{dayBoxDataItem.week}
				,#{dayBoxDataItem.month}
				,#{dayBoxDataItem.dayNo}
				,#{dayBoxDataItem.festival}
				,#{dayBoxDataItem.userId}
				)
			</foreach>
	</insert>
	
	<select id="countDayBox" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT 
			COUNT(*)
		FROM
			DAY
		WHERE
			YEAR = ${year} AND MONTH = ${month} AND USER_ID = ${userId}
	</select>
	
	
</mapper>